@model IEnumerable<Web.Models.Pelicula>

@{
    ViewData["Title"] = "Index";
}


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Película
            </th>
       
            <th>
                @Html.DisplayNameFor(model => model.Duracion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Clasificacion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tipo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtitulo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaEstreno)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaRegistro)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
   
            <td>
                    <img src="~/images/@item.ImagemPelicula"
                         class="rounded-start"
                         height="150" width="150"
                         asp-append-version="true" />
                         <br>
                    @item.Descripcion
            </td>
         
            <td>
                @Html.DisplayFor(modelItem => item.Duracion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Clasificacion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Genero.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tipo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subtitulo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaEstreno)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaRegistro)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
