@model IEnumerable<Web.Models.Funcion>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<p>
    <div class="row">
        <div class="col-sm">
            <a asp-action="Create" class="btn btn-primary">Programar Función</a>
        </div>
    </div>
</p>
<form asp-action ="Index" method="get">
    <div class="row">
        <div class="col">
            <label class="control-label">Película:</label>
            <select name="PeliculaRefId" class="form-control" asp-items="ViewBag.PeliculaRefId">
                <option value="">Seleccione una pelicula</option>
            </select>
        </div>
        <div class="col">
            <label class="control-label">Sala:</label>
            <select name="SalaRefId" class="form-control" asp-items="ViewBag.SalaRefId">
                <option value="">Seleccione una sala</option>
            </select>
        </div>
        <div class="col">
            <br />
            <input type="submit" value="Buscar" id="submit" class="btn btn-warning"/>
        </div>
    </div>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Función
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Sala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Tarifas)
            </th>
        
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FechaHoraFuncion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Descripcion) - @Html.DisplayFor(modelItem => item.Pelicula.Tipo.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sala.Descripcion) - @Html.DisplayFor(modelItem => item.Sala.Tipo.Descripcion) 
            </td>

                <td>
                    <ul>
                    @for (int i = 0; i < item.Tarifas.Count(); i++)
                    {

                            <li> @item.Tarifas[i].Tarifa.Descripcion (@item.Tarifas[i].Tarifa.TarifaPrecio)</li>
                   
                    }
                    </ul>
                </td>

           
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
