@model Web.Models.Programar

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Programar</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaHoraFuncion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaHoraFuncion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sala.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa1.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa2.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa3.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa4.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa5)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa5.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tarifa6)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tarifa6.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaRegistro)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaRegistro)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
